spring:
 application:
   name: bookshop_db
 datasource:
   url: jdbc:mysql://<YOUR_MY_SQL_HOST>:<YOUR_MY_SQL_PORT>/bookshop_db
   driver-class-name: com.mysql.cj.jdbc.Driver
   username: <YOUR_MY_SQL_USER>
   password: <YOUR_USER_PASSWORD>
